//
// Variables
// --------------------------------------------------

// Type
// --------------------------------------------------
@font-family-default: "Helvetica Neue", Helvetica, sans-serif;
@font-size-default: 0.85rem;
@font-weight: 500;
@font-weight-light: 400;
@line-height-default: 1.05rem;


//img
@imgBaseUrl: "../img";

// Colors
// --------------------------------------------------


// 主色
@color-primary: #0894ec;
@color-danger: #f6383a;
@color-warning: #ff9500;
@color-success: #4cd964;

@color-primary-active: #0a8ddf;
@color-danger-active: darken(@color-danger, 10%);
@color-warning-active: darken(@color-warning, 10%);
@color-success-active: darken(@color-success, 10%);

//链接色
@color-link: @color-primary; //链接色有可能不同于主色
@color-link-active: @color-primary-active; //链接色有可能不同于主色

//文本色
@color-text: #333;

//背景色
@color-bg: #efeff4;

//这里是F7 的颜色定义，供参考，全部要改成上面的定义
/*
@blue:#007aff;
@red: #ff3b30;
@white: #ffffff;
@black: #000000;
@lightblue: #5ac8fa;
@yellow: #ffcc00;
@orange: #ff9500;
@pink: #ff2d55;
@green: #4cd964;
@gray: #8e8e93;
*/

//这里是原 ratchet 定义，供参考
// Action colors
/*
@default-color:  #fff;
@positive-color: #5cb85c;
@negative-color: #d9534f;
*/



// Bars
// --------------------------------------------------

@bar-base-height:  2.2rem;
@bar-tab-height:   2.5rem;
@bar-side-spacing: 0.5rem;


// Cards
// --------------------------------------------------

@card-bg: #fff;


// Buttons
// --------------------------------------------------

@button-color: #6e727b;
@button-font-size: 0.6rem;
@button-dark-color: #6e727b;
@button-light-color: #ccc;


// Transitions
// --------------------------------------------------

@timing-fuction: cubic-bezier(.1,.5,.1,1); // Inspired by @c2prods


// Borders
// --------------------------------------------------

@border-default-width: 1px;
@border-default-color: #ddd;
@border-default: @border-default-width solid @border-default-color;
@border-radius: 0.3rem;
