.page-login .signup {
  font-size: 0.7rem;
}
.page-login .leader {
  margin: 3rem 0 1rem 0;
  padding: 0.5rem 0;
  font-size: 0.7rem;
  border-top: 1px dashed #ccc;
  color: #999;
}
.page-login .leader:after {
  left: auto;
  right: 1rem;
}

.page-login .others {
  text-align: center;
}

.page-login i.icon-form-name {
  background: url(http://gtms01.alicdn.com/tps/i1/TB1pN89IFXXXXaPXpXX8wnlGFXX-42-46.png) no-repeat;
  background-size: 21px 23px;
  background-position: 5px 7px;
}
.page-login i.icon-form-email {
  background: url(http://gtms04.alicdn.com/tps/i4/TB1An8TIFXXXXapXVXXlg00GFXX-38-46.png) no-repeat;
  background-size: 19px 23px;
  background-position: 6px 1px;
}

.page-goods .swiper-container {
  height: 10rem;
}
.page-goods .swiper-slide img {
  width: 100%;
}


.page-detail .swiper-container {
  height: 10rem;
}
.page-detail .swiper-slide img {
  width: 100%;
}

.page-detail .goods-card {
}
.page-detail .goods-card h3 {
  font-size: 0.8rem;
}
.page-detail .goods-card del {
  font-size: 0.6rem;
  color: gray;
}
.page-detail .goods-card .row {
  font-size: 0.7rem;
}

.page-settings .person-card {
  margin: .6rem 0;
}
.page-settings .row {
  border: 1px solid #ccc;
  background: white;
  border-left: 0;
  border-right: 0;
}
.page-settings .row h4 {
  margin: 0.3rem 0;
}
.page-settings .row .color-gray {
  margin: 0.3rem 0;
  font-size: 0.7rem;
}

.page-settings .col-25 + .col-25 {
  border-left: 1px solid #ccc;
}

.page-settings .person-card img {
  border-radius: 100%;
}

.page-settings .person-card ul{
  background: transparent;
}
.page-settings .person-card .item-text {
  height: auto;
}
.page-settings .person-card ul:before,
.page-settings .person-card ul:after {
  display: none;
}
.page-settings .list .icon {
  font-size: 1rem;
}
